.git
.github
node_modules
npm-debug.log
yarn-error.log
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
.env
.env.backup
.env.production
.phpunit.result.cache
docker
README.md
DEPLOY.md
